body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

header {
    background-color: rgba(43, 48, 46, 0.705);
    color: #fff;
    padding: 1rem 0;
    /* position: fixed; */
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 

}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffa500;
    margin-left: 2rem;
}

header .logo-link {
    display: flex;
    align-items: center;
    margin-right: 22.5rem; 
    /* justify-content: flex-start; */
}

header .logo-link img {
    height: 40px; 
    width: auto; 
}

header nav {
    display: flex;
    align-items: center;
}

header .nav-menu {
    display: flex;
    align-items: center;
}

header .nav-links {
    list-style: none;
    display: flex;
    margin-right: auto; 
    margin-right: 2rem;
}

header .nav-links li {
    margin-left: 2rem;
}

header .nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
}

header .nav-links .home-link {
    color: #ffa500;
}

header .btn-nav {
    background-color: #ffa500;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    margin-left: 1rem; 
}

header .nav-links a:hover {
    color: #ffa500;
}

.hero {
    position: relative; /* Ensure the hero section is relative */
    background-image: url('images/bg-hero1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 18rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    color: #fff;
    z-index: 1; 
    overflow: auto;
    /* justify-content: flex-start; */
    text-align: left;
    padding-inline: 19rem;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.877); 
    z-index: -1;
}

.hero-content {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    /* text-align: left; */
    justify-content: center;
    z-index: 2;
    max-width: 50%;
}

.hero-heading {
    display: flex;
    align-items: center;
    font-family: 'Arial Black', sans-serif; 
    font-size: 3rem; 
    line-height: 1.2;
    margin-bottom: 1rem;
    max-width: 100%;
    justify-content: center;
    /* background-color: #ffa500; */
    /* padding-left: 18rem; */
}

.links {
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
    padding-right: 3rem;
}

.links a {
    text-decoration: none;
    /* color: white; */
    transition: color 0.3s ease;
}

.home-link {
    color: yellow; 
}

.contact-link{
    color: #fff;
}

.links a:hover {
    color: #ffa500; /* Hover color */
}

.contact-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contact-heading h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffa500;
    font-size: 1.7rem;
    font-weight: 10;
    font-family: Pacifico;
    /* align-items: center; */
    /* align-self: self-start; */
    margin-top: 4rem;
    /* justify-content: center; */
}

.contact-heading h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 3rem;
    font-family: Poppins;
    /* background-color: blueviolet; */
}

.start-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* background-color: rgb(167, 210, 26); */
}

.contact-heading h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffa500;
    font-size: 1.7rem;
    font-weight: 10;
    font-family: Pacifico;
    /* align-items: center; */
    /* align-self: self-start; */
    margin-top: 4rem;
    /* justify-content: center; */
}

.contact-heading img{
    margin-left: 0.5rem;
}

.contact-heading h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 3rem;
    font-family: Poppins;

}

.images{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 18rem;
    /* margin-bottom: 2rem; */
    height: 25%;
    width: 100%;
    /* padding-bottom: 2rem; */
    /* border-bottom: 2px solid #ffa500; */
    /* background-color: #ac2626; */
}

.book-heading{
    padding: 0%;
    margin: 0%;
    padding-left: 0.5rem;
}

.book-heading h3{
    margin: 0%;
}

.booking{
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
}

.booking img{
    width: 1rem;
    height: 1rem;
}

.category-item{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    align-items: start;
    margin: 0%;
    padding: 0%;
    height: 50%;
    /* font-size: 1rem; */
    max-width: 100%;
    /* background-color: aqua; */
}

.category-item img{
    margin-right: 0.5rem;
}

#sp1{
    max-width: 20%;
    text-align: center;
    line-height: 1.35rem;
    align-items: flex-start;
}




.reservation{
    display: flex;           
    justify-content: start;
    align-items: center;    
    /* height: 100vh;   */
    max-width: 100%;
    /* background-color: rgb(100, 248, 41); */
}

.reservation-form{
    display: flex;
    padding: 0%;
    width: 50%;  
    /* height: 100%;        */
    box-sizing: border-box;
    /* background-color: #0f172b; */

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#map-id{
    /* background-color: #ffa500; */
    height: 28rem;
    margin-left: 10%;
    margin-right: 2%;
}

#map{
    width: 100%;
    height: 100%;
}

.reservation-form h3{
    font-family: Pacifico;
    font-size: 2rem;
    color: #ffa500;
    padding-left: 2rem;
}

.reservation-form h1{
    padding-left: 2rem;
    color: #fff;
    font-family: Poppins;
    font-size: 40px;
}

form {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    gap: 15px;
    width: 40rem;
    height: 100%;
    font-family: Arial, sans-serif;
    /* background-color: aqua; */
}

#form-id{
    margin-right: 10%;
}

.reservation-inputs{
    display: flex;
    gap: 5rem;
    justify-content: flex-start;
    /* background-color: #ffa500; */
}

input[type="text"]{
    width: 15rem;
    height: 3.5rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: start;
}

input::placeholder {
    text-align: start;
}

#box-size{
    width: 19rem;
}

#subject-field{
    width: 40rem;
    height: 4rem;
}

.large-input {
    display: flex;
    width: 40rem;
    /* padding: 10px; */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* background-color: #ccc; */
}

#special-req{
    width: 43rem;
    height: 13rem;
}

.send-msg {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #ffa500;
    color: white;
    cursor: pointer;
    width: 40rem;
    height: 3.25rem;
}

.send-msg:hover {
    background-color: #ffa500;
}




.footer{
    width: 93.5rem;
    background-color: #272f41;
    bottom: 0;
    position: 40rem;
    z-index: 1000;
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
}

/* html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
} */

.footer-left {
    display: flex;
    gap: 1rem;
}

.footer-left p{
    color: #fff;
}

.footer-button {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.footer-button:hover {
    background-color: #555;
}

.footer-right {
    text-align: right;
    align-items: center;
    margin-right: 2rem;
    padding-top: 1rem;
}