body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

header {
    background-color: rgba(43, 48, 46, 0.705);
    color: #fff;
    padding: 1rem 0;
    /* position: fixed; */
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 

}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffa500;
    margin-left: 2rem;
}

header .logo-link {
    display: flex;
    align-items: center;
    margin-right: 22.5rem; 
    /* justify-content: flex-start; */
}

header .logo-link img {
    height: 40px; 
    width: auto; 
}

header nav {
    display: flex;
    align-items: center;
}

header .nav-menu {
    display: flex;
    align-items: center;
}

header .nav-links {
    list-style: none;
    display: flex;
    margin-right: auto; 
    margin-right: 2rem;
}

header .nav-links li {
    margin-left: 2rem;
}

header .nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
}

header .nav-links .home-link {
    color: #ffa500;
}

header .btn-nav {
    background-color: #ffa500;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    margin-left: 1rem; 
}

header .nav-links a:hover {
    color: #ffa500;
}


.hero {
    position: relative; /* Ensure the hero section is relative */
    background-image: url('images/bg-hero1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    color: #fff;
    z-index: 1; 
    overflow: auto;
    /* justify-content: flex-start; */
    text-align: left;
    padding-inline: 19rem;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.877); 
    z-index: -1;
}

.hero-content {
    display: flex; 
    flex-direction: column; 
    align-items: start; 
    /* text-align: left; */
    /* justify-content: flex-start; */
    z-index: 2;
    max-width: 50%;
}

.hero1 {
    z-index: 1;
    max-width: 50%;
    /* background-color: aqua; */
}

.second-pic{
    position: relative;
    height: 100vh;
    margin-bottom: 1rem; 
    border-radius: 50%; 
    max-width: 100%;
    overflow: hidden;
    width: 500px; 
    height: 500px;
    /* top: 132%; 
    left: 910%;  */
}

.hero1 img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.hero-heading {
    font-family: 'Arial Black', sans-serif; 
    font-size: 3rem; 
    line-height: 1.2;
    margin-bottom: 1rem;
    max-width: 100%;
    /* background-color: #ffa500; */
    /* padding-left: 18rem; */
}

#hero-text {
    color: #fff;
    font-size: 0.90rem;
    font-weight: 400;
    line-height: 24px; 
    max-width: 100%; 
    /* align-items: flex-start; */
    margin: 0 auto; 
    /* padding-left: 18.5rem; */
}

.btn {
    display: block;
    background-color: #ffa500;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    margin-top: 1rem;
    /* padding-left: 3rem; */
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    margin-top: 2rem;
    /* background-color: #ffa500; */
}

.box {
    flex: 1;
    max-width: 10%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.1),
        0 4px 8px rgba(0, 0, 0, 0.08), 
        0 8px 16px rgba(0, 0, 0, 0.06), 
        0 16px 32px rgba(0, 0, 0, 0.04); 
    padding: 2rem;
    text-align: left;
    /* background-color: aqua; */
}

#chef{
    background-color: #ffa500;
    color: #fff;
}

.box .icon img {
    width: 50px;
    height: 50px;
}

.box h5 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.box p{
    font-size: 0.9rem;
    color: #666565;
    /* max-width: 100%; */
    line-height: 18px;
}

.About{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    padding: 4rem 2rem;
    background-color: rgba(0, 0, 0, 0.055);
    margin-top: 3rem;
}

.combined{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}

.image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-top: 0.8rem;
}

.image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: self-end;
    /* background-color: aqua; */
}

.image4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.image3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* margin-left: 2rem; */
    /* background-color: #ffa500; */

}
.image3>img{
    float: inline-end;
    /* margin-left: 2rem; */
}

.grid-photo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    max-width: 50%;
    /* background-color: blueviolet; */
}

.grid-item{
    width: 100%;
    height:auto
}

.About-Us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 50%;
    /* height: ; */
    /* padding: 2rem;
    margin-top: 2rem; */
    /* background-color: brown; */
}

#about-para{
    /* max-width: 80%; */
    line-height: 1.2rem;
    max-width: 90%;
    /* background-color: #666565; */
}

/* .about-image{
    align-items: center;
    max-width: auto;
    height: auto;
} */

.about-font{
    display: flex;
    color: #ffa500;
    font-family: Pacifico;
    font-size: 1.7rem;
    font-weight: 10;
    align-items: center;
    align-self: self-start;
    margin-top: 4rem;
    justify-content: center;
    /* background-color: #ffa500; */
    /* font-style: italic; */
}

.about-font img{
    margin-left: 0.5rem;
    /* vertical-align: bottom; */
}

.title-about{
    display: flex;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: -2rem;
    justify-content: center;
    /* background-color: aqua; */
}

.fork-knife{
    display: flex;
    max-width: 10%;
    height: 90%;

    /* align-items: center; */
}

.chefs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    /* background-color: #ffa500; */
}

.years {
    display: flex;
    /* flex-direction: column; */
    height: 40%;
    /* background-color: aqua; */
    margin-top: -2.5rem;
    padding-left: 1rem;
    align-items: center;
    border-left: 5px solid #ffa500;
    /* background-color: rgb(221, 54, 3); */
}

.years h1{
    font-size: 3rem;
    color: #ffa500;
    font-family: Poppins;
}

.years p{
    font-size: 1rem;
    color: #2b2727;
    font-family: Poppins;
    /* margin-top: -2rem; */
    max-width: 70%;
    margin-left: 1rem;
}

/* .master-chefs{
    display: flex;
    justify-content: space-between;
    background-color: violet;
} */

.Food-Menu{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* height: 85vh; */
    padding: 2rem 2rem;
    background-color: #fff;
    margin-top: 3rem;
    /* background-color: aqua; */
}

.start-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: rgb(167, 210, 26); */
}

.menu-heading h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffa500;
    font-size: 1.7rem;
    font-weight: 10;
    font-family: Pacifico;
    /* align-items: center; */
    /* align-self: self-start; */
    margin-top: 4rem;
    /* justify-content: center; */
}

.menu-heading img{
    margin-left: 0.5rem;
}

.menu-heading h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 3rem;
    font-family: Poppins;

}

.category-item{
    display: flex;
    font-family: Poppins;
    font-size: 1rem;
    max-width: 50%;
}

.category-item img{
    margin-right: 0.5rem;
}

.images{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    height: 40px;
    padding-bottom: 2rem;
    /* border-bottom: 2px solid #ffa500; */
    /* background-color: #fff; */
}

#sp1{
    max-width: 20%;
    text-align: center;
    line-height: 1.35rem;
    align-items: flex-start;
}

.menu-categories {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.item-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    /* background-color: #ff6600; */
    padding: 20px;
}

.item {
    display: flex;
    align-items: center;
    width: 48%;
    margin-bottom: 20px;
    /* border: 1px solid #ddd; */
    padding: 10px;
    border-radius: 5px;
}

.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.item-detail {
    flex-grow: 1;
    white-space: nowrap;
    overflow: visible;
    width: calc(100% - 140px);
}

.item-detail h4 {
    margin: 0 0 10px;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    max-width: 1600px;
}

.item-detail p {
    margin: 0;
    color: #666;
    /* background-color: #000; */
    display: inline;
    max-width: 60%;
    line-height: 1rem;
    padding-top: 10px;
    border-top: 1px solid grey;
}

.price {
    position: relative;
    font-size: 1.2em;
    color:#ffa500;
    margin-left: 20px;
    text-align: end;
    white-space: nowrap;
    max-width: 1600px;
    top: -1rem;
    padding: 0.5rem 1rem;
    right: -8rem;
    z-index: 2;
    /* background-color: #000; */
}

.master-chefs{
    display: flex;
    height: 100vh;
    justify-content: center;
    max-width: auto;
    /* background-color: aqua; */
}

.team-chefs{
    display: flex;
    justify-content: space-evenly;
    /* gap: 1rem; */
    margin-top: -2rem;
    height: 100%;
    width: 80rem;
    /* background-color: rgb(165, 90, 60); */
}

.team-box{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    margin-top: 2rem;
    /* border-radius: 10px; */
    box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.1),
        0 4px 8px rgba(0, 0, 0, 0.08), 
        0 8px 16px rgba(0, 0, 0, 0.06), 
        0 16px 32px rgba(0, 0, 0, 0.04); 
    margin-bottom: 2rem;
}

.team-box img{
    border-radius: 100%;
}

.team-chefs p{
    font-size: 0.9rem;
}

.team-box h5{
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-bottom: -0.5rem;
}




.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 2rem;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* width: 50px; */
    height: 50px;
    /* background-color: #394275; */
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    
}

#fb,#Insta,#X{
    background-image: url('images/social-icon-bckground.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.social-icons img {
    width: 20px;
    height: 20px;
    position: relative;
}

.team-box:hover {
    transform: scale(1.1);
    /* margin-bottom: 0rem; */
}

.team-box:hover .social-icons {
    opacity: 1;
    transform: translate(25%, -50%);
    margin-top: 1rem;
    bottom: 0%;
} 

.reservation{
    display: flex;           
    justify-content: space-around;
    align-items: center;    
    height: 100vh;  
    max-width: 100%;
    background-color: aqua;
}

.reservation-form{
    display: flex;
    /* padding: 20px; */
    width: 50%;  
    height: 100%;       
    box-sizing: border-box;
    background-color: #0f172b;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.reservation-form h3{
    font-family: Pacifico;
    font-size: 2rem;
    color: #ffa500;
    padding-left: 2rem;
}

.reservation-form h1{
    padding-left: 2rem;
    color: #fff;
    font-family: Poppins;
    font-size: 40px;
}

#couple{
    width: 47rem;
    height: 44.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 43rem;
    height: 27rem;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    /* background-color: aqua; */
}

.reservation-inputs{
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    /* background-color: #ffa500; */
}

/* input[type="text"],
input[type="number"],
input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */
input[type="text"]{
    width: 15rem;
    height: 3.5rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: start;
}

/* Center-align the placeholder text */
input::placeholder {
    text-align: start;
}

input[type="datetime-local"]{
    width: 15rem;
    height: 3.5rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="number"]{
    width: 15rem;
    height: 3.5rem;
    padding: 10px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    box-sizing: border-box;
}


.large-input {
    display: flex;
    width: 43rem;
    /* padding: 10px; */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* background-color: #ccc; */
}

#special-req{
    width: 43rem;
    height: 8rem;
}

.book-now {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #ffa500;
    color: white;
    cursor: pointer;
    width: 43rem;
    height: 3.25rem;
}

.book-now:hover {
    background-color: #ffa500;
}

.testimonial{
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
}

.testimonial-box2{
    position: relative;
    width: 20rem;
    height: 15rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #ffa500;
}

.testimonial-boxes{
    display: flex;
    justify-content: space-evenly;
    /* gap: 1rem; */
    margin-top: -2rem;
    height: 100%;
    width: 80rem;
    margin-bottom: 10rem;
}

.testimonial-box1 {
    position: relative;
    width: 20rem;
    height: 15rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.double-quotes {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px; 
    height: 30px; 
}

.comment {
    margin-top: 50px; 
    text-align: start;
    font-family: Poppins;
}

/* Styling for customer name and image */
.customer-name {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    height: 4rem;
    /* background-color: aqua; */
}

.customer img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
    /* background-color: #0f172b; */
}

.name h5 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    /* padding-top: 1rem; */
}

.name p{
    /* line-height: 2rem; */
    /* padding-bottom: 4rem; */
    text-align: center;
    margin: 0;
    margin-top: 0.2rem;
}

.footer{
    width: 93.5rem;
    background-color: #272f41;
    bottom: 0;
    position: 40rem;

    z-index: 1000;
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
}

html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer-left {
    display: flex;
    gap: 1rem;
}

.footer-left p{
    color: #fff;
}

.footer-button {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.footer-button:hover {
    background-color: #555;
}

.footer-right {
    text-align: right;
    align-items: center;
    margin-right: 2rem;
    padding-top: 1rem;
}

