body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: transparent;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    /* flex-direction: column; */
    margin-left: 2rem;
    color: #ffa500;
}


header .logo-link {
    display: flex;
    align-items: center;
    margin-left: 2rem; 
}

header .logo-link img {
    height: 40px; 
    width: auto; 
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 2rem; */
}

header .nav-menu {
    display: flex;
    align-items: center;
}

header .nav-links {
    list-style: none;
    display: flex;
    margin-left: 45rem;
    /* justify-content: space-between; */
    /* justify-content: flex-end; */
    /* margin-right: 2rem; */
}

header .nav-links li {
    margin-left: 1rem;
}

header .nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    /* margin-left: 2rem; */
}

header .nav-links .home-link{
    color:#ffa500
}

header .btn-nav {
    background-color: #ffa500;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    margin-right: 2rem;
}

header .nav-links a:hover {
    color: #ffa500;
}

.hero {
    background-image: url('images/bg-hero1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 1;
    padding-left: 3rem;
}


.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero-content {
    text-align: left;
    z-index: 2;
    margin-left: -40%;
}


.btn {
    background-color: #ffa500;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    margin-top: 1rem;
}


@media (max-width: 768px) {
    .hero {
        padding: 2rem 1rem;
        height: auto; 
    }

    .hero-text {
        padding: 1rem;
    }
}